# avoid version control files.
.git

# avoid temp and backup files.
*~
*#
*.bak
*.old
*.rej
*.swp
*.tmp

# avoid utility files
.build

# avoid compiled gettext files
*.mo

# stuff that won't get distributed
misc

# avoid archives of this distribution
Games-Risk-*

